* {
    box-sizing: border-box;
}
body {
    color: #141b50;
}

//Main page 

.wrapper {
    background-image: url(/assets/bg.png);
    color: white;  
}
.bitcoin-img {
    max-width: 550px;
    margin: 100px 0;
}
.btn-main {
        color: #141b50;
        background-color: #f9c326;
        height: 50px;
        width: 240px;
        border: none;
        font-size: 16px;
}
.main-page-h1 {
    font-size: 65px;
    padding-top: 20px;
    padding-bottom: 30px;
}
.main-page-p {
    font-size: 20px;
}

//Currency

.currency {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #121b47;
        min-height: 80px;
}

.currency-content {
        width: 1200px;
        display: grid;
        grid-template: 1fr / 1fr 1fr 1fr 1fr;
        padding-top: 20px;
        color: white;
}

//Blog 

.flex-container {
    display: flex;
    justify-content: space-around;
    width: 1200px;
    padding-top: 120px;
    padding-bottom: 30px;
}
.blog-card {
    width: 300px;
}
.card-content {
    color: #141b50;
    padding: 0 5px;
    a {
        text-decoration: none;
        color: #141b50;
    }
}
.card-content a:hover {
    color: #f9c326;
}
.react-icons {
    vertical-align: middle;
    margin-right: 5px;
    height: 1.2em;
    width: 1.2em;
}
.blog-image > img {
    height: 230px;
    max-width: 300px;
    padding-bottom: 5px;
}
.title {
    min-height: 130px;
    padding: 10px 0;
    font-size: 28px;
}
.blog-p {
    padding-bottom: 40px;
}

//Benefits section 

.btn-benefits {
    color: #141b50;
    background-color: #f9c326;
    height: 50px;
    width: 180px;
    border: none;
    font-size: 16px;
    margin: 15px 0;
}
.benefits-img {
    max-width: 500px;
}
.benefits-text {
    width: 400px;
}

//Statistic section 

.table-bordered {
    border: 5px double #121b47 !important;
}
.table-hover tbody tr:hover {
    color: yellow !important;
    background-color: #f9c326;
}
.statistic-p {
    width: 320px;
    text-align: center;
}

// Miners section

.miners-p {
    width: 400px;
}
.miners-h1 {
    width: 400px;
    margin-bottom: 20px;
}
.btn-miners {
    color: #141b50;
    background-color: #f9c326;
    height: 50px;
    width: 180px;
    border: none;
    font-size: 16px;
    margin: 15px 0;
}
.miner-img {
   width: 400px;
}

//Download section 

.download {
    background-image: url(/assets/bg-white.png);
}
.app-images {
    display: flex;
    margin: 20px 0;
}
.app-store {
    background-image: url(/assets/app-store.png);
    width: 170px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px;
}
.g-play {
    background-image: url(/assets/google-play.png);
    width: 170px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
}
.download-p {
    width: 400px;
}


//Footer 
.footer {
    background-image: url(/assets/bg.png);
    display: flex;
    justify-content: center;
}
.footer-content {
    width: 1200px;
    display: grid;  
    grid-template: 1fr / 1fr 1fr 1fr;
    padding-top: 20px;
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0 30px;
}
.usefull-links li, .more-links li {
    list-style: none;
} .usefull-links a, .more-links a {
    text-decoration: none;
    color: white;
} .usefull-links a:hover, .more-links a:hover {
    color: #f9c326;
}
.btn-footer {
    color: #141b50;
    background-color: #f9c326;
    height: 50px;
    width: 180px;
    border: none;
    font-size: 16px;
    margin: 15px 0;
}
.read-more-link {
    text-decoration: none;
    color: #f9c326;
}
.usefull-links, .more-links, .footer-title {
    color: #f9c326;
}
.rights {
    color: white;
    background-image: url(/assets/bg.png);
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.links {
    display: flex;
    justify-content: space-around;
}
.mission {
    padding-left: 25px;
}




//lg - laptop

@media (max-width: 992px) {
    .bitcoin-img {
        width: 400px;
        margin: 0;
    }  
    .main-page-h1 {
        font-size: 45px;
    }
    .main-page-p {
        font-size: 18px;
    }
    .currency-content {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr 1fr;
        padding-top: 20px;
        padding-left: 30px;
        color: white;
    }
    .currency-item-2 {
        grid-column-start: 3;
    }
    .currency-item-4 {
        grid-column-start: 3;
    }
    .benefits-img {
        width: 450px;
        height: 330px;
    }
    .benefits-text {
        width: 300px;
    }
    .blog-card {
        width: 250px;
    }
    .blog-image > img {
        height: 180px;
        max-width: 250px;
    }
    .card-content {
        font-size: 14px;
    }
    .title {
        font-size: 24px;
    }
    .benefits-h1 {
        font-size: 30px;
    }
    .statistic-graphic {
        flex-direction: column;
        align-items: center;
        padding: 0 50px;
    }
    .diagram {
        margin-bottom: 50px;
    }
    .miner-content {
        flex-direction: column;
        align-items: center;
    }
    .miner-img {
        width: 350px;
        margin-top: 50px;
    }
    .mission {
        padding-left: 0;
    }
}

//md - tablet 


@media (max-width: 768px) {
    .bitcoin-img {
        width: 300px;
        margin: 0;
    }  
    .btn-main {
        color: #141b50;
        background-color: #f9c326;
        height: 50px;
        width: 180px;
        border: none;
        font-size: 14px;
    }
    .main-page-p {
        font-size: 14px;
    }
    .main-page-h1 {
        font-size: 26px;
    }
    .benefits-img {
        width: 280px;
        height: 200px;
        margin-bottom: 50px;
    }
    .benefits-p {
        width: 280px;
    }
    .benefits-content {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    .benefits-text {
        font-size: 14px;
    }
    .flex-container {
        flex-direction: column;
        align-items: center;
    }
    .blog-card {
        width: 300px;
    }
    .blog-image > img {
        height: 230px;
        max-width: 300px;
    }
    .card-content {
        font-size: 14px;
    }
    .title {
        min-height: 60px;
    }
    .currency-content {
        font-size: 14px;
    }
    .statistic-p {
        width: 320px;
    } 
    .download-p {
        width: 300px;
    } 
    .app-images {
        display: block;
    }
    .download-content {
        flex-direction: column;
        align-items: center;
    }
    .women-img {
        margin-bottom: 30px;
        width: 316px;
    }
    .footer-content { 
        grid-template: 1fr 1fr /  1fr 1fr;
    }
    .mission {
        grid-template-columns: 2/4;
        grid-row: 2/4;
    }
    .usefull-links, .more-links {
        padding-left: 80px;
    }
}

//sm-mobile only 

@media (max-width: 525px) {
    .main-content {
        flex-direction: column-reverse;
        align-items: left;
        margin-bottom: 30px;
    }
    .currency-content {
        font-size: 14px;
        display: flex;
        flex-direction: column;
    } 
    .diagram {
        width: 280px;
    }
    .table-bordered {
        font-size: 10px;
    }
    .statistic-graphic {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .statistic-p {
        width: 280px;
    }
    .miner-img {
        width: 300px;
    }
    .miners-p {
        width: 300px;
    }
    .miners-h1 {
        width: 300px;
    }
    .footer-content { 
        grid-template: 1fr 1fr 1fr /  1fr ;
    }
    .mission {
        grid-row: 2;
        padding-bottom: 30px;
    }
    .usefull-links, .more-links {
        padding: 0;

    }
    .rights-content {
        width: 300px;
    }
    .rights {
        padding-top: 0;
    }
    .links {
        display: flex;
        justify-content: space-around;
    }
}

