
.menu {
    display: flex;
    list-style: none;
    align-items: flex-start;
    a {
        padding: 0px 30px;
        font-size: 16px;
        line-height: 1.2em;
        text-decoration: none;
        color: white;
    }
}